@import "variables";

input, button, label {
  outline: 0 !important;
}

html, body, header, main, footer {
  min-width: 320px;
  margin: 0;
}

@media (min-width: $desktop-width) {
  html, body, header, main, footer {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
