$blue: rgb(129, 179, 210);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$darkblue: rgb(102, 158, 192);
$grey: rgb(229, 229, 229);
$line-grey: #485461;
$red: #d43a63;
$green: rgb(42, 171, 109);
$yellow: rgb(234, 234, 234);
$header: #283645;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$tablet-width-only: 991px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;